



<div class="uk-section-small"><div class="uk-container uk-container-expand uk-text-center uk-position-relative"><ul uk-margin="" class="uk-subnav tm-subnav uk-flex-inline uk-flex-center uk-margin-remove-bottom">
            <li class="uk-first-column"><span>Version <span uikit-version="">3.0.0-beta.30</span></span></li> <li><a href="https://github.com/ogon-project/ogon-project">
                    <span uk-icon="icon: star" class="uk-margin-small-right uk-icon"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" ratio="1">
                            <polygon fill="none" stroke="#000" stroke-width="1.01" points="10 2 12.63 7.27 18.5 8.12 14.25 12.22 15.25 18 10 15.27 4.75 18 5.75 12.22 1.5 8.12 7.37 7.27"></polygon></svg></span>
                    <span id="stargazers_count"></span> Stargazers</a></li> <li><a href="https://twitter.com/ogon" class="uk-text-lowercase"><span uk-icon="icon: google;"></span>Community</a></li></ul>
 </div></div>


