
  <title>{% if page.title %}{{ page.title }} | {% elsif page.name %}{{ page.name }} | {% endif %}{{ site.title }}</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name="viewport" content="width=device-width">
	{% if page.description %}
	  <meta name="description" content="{{ page.description}}" />
	{% endif %}
{% feed_meta %}
{% seo %}


  <link href='{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html', '' }}' rel='canonical'>
<link rel="shortcut icon" type="image/ico" href="/img/favicon.ico"/>


<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;1,400;1,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://js.arcgis.com/3.31/esri/css/esri.css">
<script src="https://js.arcgis.com/3.31/"></script>

 <script>
   var map;
 require(["esri/map"], function(Map) {
   map = new Map("map", {
     basemap: "topo",
     center: [{{page.latitude}}, {{page.longitude}}],
     zoom: 13
   });
 });

  
   });
 </script>


<style>
  h1, h2, h3, h4, h5 {font-family: 'Gentium Basic', serif !important;}
  body, p, html, .intro {font-family: 'Gentium Basic', serif !important; }
  .heading {font-weight: 700;
    font-style: italic;}
</style>
