---
layout: default
permalink:  /ruinas/
---
{% assign pueblos = {{site.ruinas | group_by:"city"}} %}
{% assign tipo = {{site.ruinas | group_by:"art"}} %}



  <div class="uk-section uk-section-muted">


  <div class="uk-container">



    <div class="uk-child-width-1-4@m uk-grid uk-grid-stack" uk-grid="">
      {% for ruinas in site.data.ruinas %}
<div>


                    <div class="uk-card uk-card-default uk-card-small">
                        <div class="uk-card-media-top">
                            <img src="https://getuikit.com/assets/uikit/tests/images/light.jpg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{ruinas.name}}</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                        <div class="uk-card-footer">
                            <p class="uk-text-meta"><a class="uk-button uk-button-default" href="#modal{{ forloop.index }}
" uk-toggle>Ver</a>
</p>
                        </div>
                    </div>

                    </div>

                          {% endfor %}


            </div>
            </div>
            </div>

            {% for ruinas in site.data.ruinas %}

            <div id="modal{{ forloop.index }}" class="uk-modal-full" uk-modal>
      <div class="uk-modal-dialog">
          <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
          <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
              <div class="uk-background-cover" style="background-image: url('https://getuikit.com/assets/uikit/tests/images/light.jpg');" uk-height-viewport></div>
              <div class="uk-padding-large">
                  <h1>{{ruinas.name}}</h1>

                  <div uk-lightbox>
                      <span uk-icon="icon: location; ratio: 1"></span> City, Spain,     <a  href="https://www.google.com/maps/embed?q={{ruinas.lat}},{{ruinas.long}}" data-caption="Google Maps" data-type="iframe">Google Maps</a>



</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>




                  <div id="map"></div>

              </div>
          </div>
      </div>
  </div>

  {% endfor %}
