---
layout: compress
---
<!DOCTYPE html>
  <html>
    <head>
      {% include header.html %}
      <link rel="stylesheet" href="css/leaflet.css">
      <link rel="stylesheet" href="css/qgis2web.css">
      <link rel="stylesheet" href="css/fontawesome-all.min.css">
      <link rel="stylesheet" href="css/leaflet-measure.css">
      <style>
        #map {
          width: 1564px;
          height: 827px;
        }
      </style>
    </head>
    <body>
      {% include navigation_2.html %}
      {{ content }}
      {% include footer.html %}
      {% include scripts.ext %}
    </body>
</html>
